<div class="pagination">
    <div class="pagination-container">
        <div>
            {{#if prev}}
                <a class="pagination-arrow" href="{{page_url prev}}">&larr;</a>
            {{/if}}
        </div>
        </div>
            {{#if next}}
                <a class="pagination-arrow" href="{{page_url next}}">&rarr;</a>
            {{/if}}
        </div>
    </div>
</div>