<div class="header">
    <div class="header-content">
        <div class="social">
                {{#if @site.twitter}}
                    <a class="social-link social-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
        </div>
        <div class="header-trailing">
            <span class="title">
                {{@site.title}}
            </span>
            {{#if @site.navigation}}
                {{navigation}}
            {{/if}}
        </div>
    </div>
</div>