{{!< default}}

{{> site-header}}

{{#is "home"}}
<div class="intro">
    <div class="intro-content">
        <div class="intro-emoji">
            👋
        </div>
        <div class="intro-text">
            <h1>Hi! I'm Tanner.</h1>
            <p>I'm a husband, Georgia Tech grad, and a software engineer at Apple. I write here ocassionally about my hobbies.</p>
        </div>
    </div>
</div>
{{/is}}

<div class="main">
    <div class="inner">
        {{#foreach posts}}
            {{> "post-card"}}
        {{/foreach}}
    </div>
</div>

{{pagination}}