{{!< default}}

{{> site-header}}

{{#post}}

<div class="main">
    <div class="inner">
        <div class="post">
            <div class="post-container">
                <div class="post-header">
                    <a href="{{url}}"><h2>{{title}}</h2></a>
                </div>
                <div class="post-content">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
</div>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
    $(function() {
        var $postContent = $(".post-full-content");
        $postContent.fitVids();
    });
</script>
{{/contentFor}}
