
@import "global.css";

body {
    background: #fff;

    font-family: -apple-system, system-ui, "Helvetica Neue", Arial, sans-serif;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}

.header {
    background: #2CA4FE;
    color: white;
}

.header-content {
    display: flex;
    flex-direction: column;

    width: 1086px;
    margin: 0 auto;
}

.header .social {
    height: 23px;
    width: 23px;

    margin: 27px 0;

    align-self: flex-end;
}

.header .social svg path {
    fill: white;
}

.header .header-trailing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.header .title {
    font-size: 36px;
    font-weight: 1000;
}

.header .nav {
    display: flex;
    flex-direction: row;

    list-style: none;

    padding: 0;
    margin: 0;
}

.header .nav li {
    margin: 0 15px;

    padding: 0 0 45px 0;
}

.header .nav li:last-child {
    margin-right: 0;
}

.header .nav li.nav-current {
    border-bottom: 6px solid #F7CF60;
}

.header .nav a {
    color: white;

    font-size: 20px;
    font-weight: 700;
}