
@import "global.css";

body {
    background: #fff;

    font-family: -apple-system, system-ui, "Helvetica Neue", Arial, sans-serif;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}

.header {
    background: #2CA4FE;
    color: white;
}

.header-content {
    display: flex;
    flex-direction: column;

    width: 1086px;
    margin: 0 auto;
}

.header .social {
    height: 24px;
    width: 24px;

    margin: 24px 0;

    align-self: flex-end;
}

.header .social svg path {
    fill: white;
}

.header .header-trailing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: 32px;
}

.header .title {
    font-size: 36px;
    font-weight: 900;
}

.header .nav {
    display: flex;
    flex-direction: row;

    list-style: none;

    padding: 0;
    margin: 0;
}

.header .nav li {
    position: relative;
    margin: 0 16px;
}

.header .nav li:last-child {
    margin-right: 0;
}

.header .nav li.nav-current::after {
    content: '';
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -32px;
    background-color: #F7CF60;
}

.header .nav a {
    color: white;

    font-size: 20px;
    font-weight: 700;
}