
@import "global.css";

:root {
    --blue: #2CA4FE;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #fff;

    font-family: -apple-system, system-ui, "Helvetica Neue", Arial, sans-serif;
}

.main {
    margin-top: 48px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}

.header {
    background: var(--blue);
    color: white;
}

.header-content {
    display: flex;
    flex-direction: column;

    width: 1086px;
    margin: 0 auto;
}

.header .icons {
    margin: 24px 0;

    align-self: flex-end;
}

.header .icons svg {
    height: 24px;
    width: 24px;

    margin-left: 8px;
}

.header .icons svg path {
    fill: white;
}

.header .icons svg circle {
    fill: white;
}

.header .header-trailing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: 32px;
}

.header .title {
    font-size: 36px;
    font-weight: 900;
}

.header .title a {
    color: white;
}

.header .title a:hover {
    text-decoration: none;
}

.header .nav {
    display: flex;
    flex-direction: row;

    list-style: none;

    padding: 0;
    margin: 0;
}

.header .nav li {
    position: relative;
    margin: 0 16px 0 0;
    padding: 0;
}

.header .nav li:last-child {
    margin-right: 0;
}

.header .nav li:hover::after {
    content: '';
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -32px;
    background-color: rgba(255, 255, 255, 0.4);
}

.header .nav li.nav-current::after {
    content: '';
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -32px;
    background-color: #F7CF60;
}

.header .nav a {
    color: white;

    font-size: 20px;
    font-weight: 700;
}

.header .nav a:hover {
    text-decoration: none;
}

.intro {
    display: flex;
    justify-content: center;

    background-color: #FAFAFA;

    border-bottom: 1px solid #EFEFEF;
}

.intro-content {
    width: 600px;
    height: 170px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.intro-emoji {
    font-size: 64px;
    line-height: normal;

    padding-right: 32px;
}

.intro-text h1 {
    font-size: 32px;
    font-weight: 700;
    color: #333333;

    margin: 0 0 8px 0;
}

.intro-text p {
    font-size: 18px;
    color: #666666;

    margin: 0;
}

.error-code {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 160px;
    color: var(--blue);
    text-align: center;
}

.error-code + .footer {
    margin-top: 0;
}

.inner {
    margin: 0 auto;
    max-width: 660px;
    width: 100%;
}

.post {
    padding-bottom: 96px;
}

.post-container {
    padding: 0 30px;
}

.post:last-child {
    padding-bottom: 0;
}

.post-header {
    padding-bottom: 16px;
}

.post-header a {
    text-decoration: none;
    color: #333;
}

.post-header h2 {
    font-size: 32px;
    font-weight: 700;

    margin: 0 0 5px 0;
    line-height: 1;
}

.post-header span {
    font-size: 14px;
    color: #666666;
    text-transform: uppercase;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-content > * {
    min-width: 100%;
}


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content p,
.post-content ul,
.post-content ol,
.post-content dl,
.post-content pre,
.post-content blockquote,
.footnotes {
    margin: 0 0 1.5em 0;
    min-width: 100%;
}
@media (max-width: 500px) {
    .post-content p,
    .post-content ul,
    .post-content ol,
    .post-content dl,
    .post-content pre,
    .post-full-comments,
    .footnotes {
        margin-bottom: 1.28em;
    }
}

.post-content li {
    word-break: break-word;
}

.post-content li p {
    margin: 0;
}

.post-content a {
    color: var(--darkgrey);
    word-break: break-word;
    box-shadow: var(--darkgrey) 0 -1px 0 inset;
    transition: all 0.2s ease-in-out;
}

.post-content a:hover {
    color: var(--blue);
    text-decoration: none;
    box-shadow: var(--blue) 0 -1px 0 inset;
}

.post-content strong,
.post-content em {
    color: color(var(--darkgrey) l(-5%));
}

.post-content small {
    display: inline-block;
    line-height: 1.6em;
}

.post-content li:first-child {
    margin-top: 0;
}

.post-content img,
.post-content video {
    display: block;
    margin: 1.5em auto;
    max-width: 1040px;
    height: auto;
}
@media (max-width: 1040px) {
    .post-content img,
    .post-content video {
        width: 100%;
    }
}


/* Full bleed images (#full)
Super neat trick courtesy of @JoelDrapper
Usage (In Ghost edtior):
![img](/some/image.jpg#full)
*/
.post-content img[src$="#full"] {
    max-width: none;
    width: 100vw;
}


/* Image captions
Usage (In Ghost editor):
![img](/some/image.jpg)
<small>Your image caption</small>
*/
.post-content img + br + small {
    display: block;
    margin-top: -3em;
    margin-bottom: 1.5em;
    text-align: center;
}


/* Override third party iframe styles */
.post-content iframe {
    margin: 0 auto !important;
}

.post-content blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: color(var(--blue)) 3px solid;
}
@media (max-width: 500px) {
    .post-content blockquote {
        padding: 0 1.3em;
    }
}

.post-content blockquote p {
    margin: 0 0 1em 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-style: italic;
}

.post-content blockquote p:last-child {
    margin-bottom: 0;
}

.post-content code {
    padding: 0 5px 2px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 400!important;
    background: var(--whitegrey);
    border-radius: 3px;
}

.post-content p code {
    word-break: break-all;
}

.post-content pre {
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    max-width: 100%;
    border: color(var(--darkgrey) l(-10%)) 1px solid;
    color: var(--whitegrey);
    font-size: 1.4rem;
    line-height: 1.5em;
    background: color(var(--darkgrey) l(-3%));
    border-radius: 5px;
}

.post-content pre ::selection {
    color: color(var(--midgrey) l(-25%));
}

.post-content pre code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    background: transparent;
}

.post-content pre code :not(span) {
    color: inherit;
}

.post-content .fluid-width-video-wrapper {
    margin: 1.5em 0 3em;
}

.post-content hr {
    margin: 2em 0;
}

.post-content hr:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 50%;
    display: block;
    margin-left: -10px;
    width: 1px;
    height: 30px;
    background: color(var(--lightgrey) l(+10%));
    box-shadow: #fff 0 0 0 5px;
    transform: rotate(45deg);
}

.post-content hr + p {
    margin-top: 1.2em;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    color: color(var(--darkgrey) l(-5%));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.post-content h1 {
    margin: 0.5em 0 0.4em;
    font-size: 4.2rem;
    line-height: 1.25em;
    font-weight: 600;
}
.post-content p + h1 {
    margin-top: 0.8em;
}
@media (max-width: 800px) {
    .post-content h1 {
        font-size: 3.2rem;
        line-height: 1.25em;
    }
}

.post-content h2 {
    margin: 0.5em 0 0.4em;
    font-size: 3.2rem;
    line-height: 1.25em;
    font-weight: 600;
}
.post-content p + h2 {
    margin-top: 0.8em;
}
@media (max-width: 800px) {
    .post-content h2 {
        margin-bottom: 0.3em;
        font-size: 2.8rem;
        line-height: 1.25em;
    }
}

.post-content h3 {
    margin: 0.5em 0 0.2em;
    font-size: 2.5rem;
    line-height: 1.3em;
    font-weight: 600;
}
.post-content h2 + h3 {
    margin-top: 0.7em;
}
@media (max-width: 800px) {
    .post-content h3 {
        margin-bottom: 0.3em;
        font-size: 2.4rem;
        line-height: 1.3em;
    }
}

.post-content h4 {
    margin: 0.5em 0 0.2em;
    font-size: 2.5rem;
    font-weight: 600;
}
.post-content h2 + h4 {
    margin-top: 0.7em;
}
.post-content h3 + h4 {
    margin-top: 0;
}
@media (max-width: 800px) {
    .post-content h4 {
        margin-bottom: 0.3em;
        font-size: 2.4rem;
        line-height: 1.3em;
    }
}

.post-content h5 {
    display: block;
    margin: 0.5em 0;
    padding: 0.4em 1em 0.9em;
    border: 0;
    color: var(--blue);
    font-family: Georgia,serif;
    font-size: 3.2rem;
    line-height: 1.35em;
    text-align: center;
}
@media (min-width: 1180px) {
    .post-content h5 {
        max-width: 1060px;
        width: 100vw;
    }
}
@media (max-width: 800px) {
    .post-content h5 {
        margin-bottom: 1em;
        margin-left: 1.3em;
        padding: 0 0 0.5em;
        font-size: 2.4rem;
        text-align: initial;
    }
}

.post-content h6 {
    margin: 0.5em 0 0.2em 0;
    font-size: 2.0rem;
    font-weight: 700;
}
@media (max-width: 800px) {
    .post-content h6 {
        font-size: 1.8rem;
        line-height: 1.4em;
    }
}

.footnotes-sep {
    margin-bottom: 30px;
}

.footnotes {
    font-size: 1.5rem;
}

.footnotes p {
    margin: 0;
}

.footnote-backref {
    color: var(--blue) !important;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: none !important;
}

/* Some grouped styles for smaller viewports */
@media (max-width: 1170px) {
    .post-full-image {
        margin: 25px -6vw 50px;
        border-radius: 0;
    }

    .post-full-image img {
        max-width: 1170px;
    }
}

@media (max-width: 700px) {
    .post-full-image {
        margin: 25px -5vw;
    }
}

@media (max-width: 500px) {
    .post-full-meta {
        font-size: 1.2rem;
        line-height: 1.3em;
    }

    .post-full-title {
        margin-top: 0.2em;
        font-size: 4.2rem;
        line-height: 1.05em;
    }

    .post-full-image {
        margin-top: 5px;
        margin-bottom: 5vw;
    }

    .post-content {
        padding: 0;
    }

    .post-content:before,
    .post-content:after {
        display: none;
    }
}

/* Tables */
.post-content table {
    display: inline-block;
    overflow-x: auto;
    margin: 0.5em 0 2.5em;
    max-width: 100%;
    width: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    white-space: nowrap;
    vertical-align: top;
}

.post-content table {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-attachment: scroll, scroll;
    background-size: 10px 100%, 10px 100%;
    background-repeat: no-repeat;
}

.post-content table td:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.post-content table td:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-position: 100% 0;
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.post-content table th {
    color: var(--darkgrey);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: left;
    text-transform: uppercase;
    background-color: color(var(--whitegrey) l(+4%));
}

.post-content table th,
.post-content table td {
    padding: 6px 12px;
    border: color(var(--whitegrey) l(-1%) s(-5%)) 1px solid;
}

.post-content figcaption {
    margin: 1.0em auto 0;
    color: color(var(--midgrey) l(-10%));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 75%;
    line-height: 1.5em;
    text-align: center;
    max-width: 1040px;
}

.kg-width-full figcaption {
    padding: 0 1.5em;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.kg-embed-card .fluid-width-video-wrapper {
    margin: 0;
}

.kg-card {
    margin: 0 0 1.5em;
}

.kg-bookmark-card {
    width: 100%;
    position: relative;

    flex-direction: column;
}

.post-content .kg-bookmark-container {
    display: flex;
    min-height: 148px;
    color: var(--darkgrey);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
}

.post-content .kg-bookmark-container:hover {
    color: var(--darkgrey);
    text-decoration: none;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
}

.kg-bookmark-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.kg-bookmark-title {
    color: color(var(--midgrey) l(-30%));
    font-size: 1.6rem;
    line-height: 1.5em;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

.post-content .kg-bookmark-container:hover .kg-bookmark-title {
    color: var(--blue);
}

.kg-bookmark-description {
    display: -webkit-box;
    overflow-y: hidden;
    margin-top: 12px;
    max-height: 48px;
    color: color(var(--midgrey) l(-10%));
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 400;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;
}

.kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 3px 3px 0;

    object-fit: cover;
}

.kg-bookmark-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
    color: color(var(--midgrey) l(-10%));
    font-size: 1.5rem;
    font-weight: 400;
}

.post-content .kg-bookmark-icon {
    margin-right: 8px;
    width: 22px;
    height: 22px;
}

.kg-bookmark-author {
    line-height: 1.5em;
}

.kg-bookmark-author:after {
    content: "•";
    margin: 0 6px;
}

.kg-bookmark-publisher {
    overflow: hidden;
    max-width: 240px;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post-content .kg-image {
    margin: 0 auto;
    max-width: 100%;
}

.post-content .kg-width-wide .kg-image {
    max-width: 760px;
}

.post-content .kg-width-full .kg-image {
    max-width: 100vw;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em auto;
    max-width: 750px;
    width: 100vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.pagination {
    display: flex;
    justify-content: center;

    padding-top: 24px;
}

.pagination-container {
    display: flex;
    justify-content: space-between;

    width: 600px;
}

.pagination-title {
    color: var(--blue);
}

.pagination-arrow {
    font-size: 32px;
    color: var(--blue);
}

.footer {
    height: 160px;
    background: #FAFAFA;

    margin-top: 104px;

    border-top: 1px solid #EFEFEF;
}

.footer-content {
    height: 100%;
    width: 1086px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .copyright {
    font-size: 16px;
    color: #666666;
}

.footer .copyright a {
    text-decoration: none;
    color: #666666;
}

.footer .icons svg {
    height: 24px;
    width: 24px;

    margin-left: 8px;
}

.footer .icons svg path {
    fill: var(--blue);
}

.footer .icons svg circle {
    fill: var(--blue);
}

@media (max-width: calc(1086px + 32px)) {
    .header-content {
        width: 100%;
        padding: 0 16px;
    }

    .footer-content {
        width: 100%;
        padding: 0 16px;
    }
}

@media (max-width: 660px) {
    .header .header-trailing {
        flex-direction: column;
        align-items: center;
    }

    .header .title {
        padding-bottom: 32px;
    }

    .intro-content {
        height: auto;
        width: 100%;
        padding: 0 16px;

        flex-direction: column;
    }

    .intro-emoji {
        padding: 32px 0 0 0;
    }

    .intro-text {
        text-align: center;
        padding-bottom: 32px;
    }

    .post-container {
        width: 100%;
        padding: 0 32px;
    }
}